@charset "utf-8";
/* global */
html body div{margin:0px;padding:0px}
body{font-size:13px;font-family:"ו",Arial;line-height:21px;}
/* container */
#container{background-color:#95BA46;
           padding-top:20px;
		   background-position:bottom;
		   background-repeat:repeat-x;
		   margin:auto;
		   width:740px;
		   background-image:url(./images/header.jpg);
		 
		   }
/* #header */
#header-line{background-repeat:repeat:-x;}
#header{height:59px;width:740px;margin:auto;}
#header h1 {margin:0px;color:red;font-size:30px;padding:20px 0 0 0;float:left;}
#header ul{list-style:inline;float:right;}
#header ul li{display:inline;}
#header ul li a {
           padding:17px 5px;
		   color:pink;
		   font-size:20px;
		   text-decoration:none;
}
#header ul li a:hover,#header ul li a:active{background-color:#5f6e42;color:black;}
#body{background-color:#FFF;border:15px solid purple;width:710px;margin:auto;}
#body:after{
           content:".";
		   display:block;
		   clear:both;
		   height:0px;
		   visibility:hidden;
}
#banner{
           width:708px;
		   height:182px;
		   border:solid 1px #333;
		   background-image:url(./images/banner.jpg);
}
#site_discription{color:red;font-size:25px;padding-top:10px;}
#main{     width:430px;
           float:left;
		   padding-right:20px;
}
.log h3{border-bottom:solid 1px #95BA46;}
.log .log_descr{text-align:right;color:#888;}
#sidebar{width:240px;float:right;padding-left:20px;}
#sidebar h2{padding-bottom:5px;border-bottom:solid 1px #95BA46;}
#footer{text-align:center;
        background:pink;
		width:738px;
		font-size:14px;
		margin:auto;
		border:#fff solid 0px 1px 1px 1px;
		padding:2px 0;
		
}
#footer a{color:#FFF;background-color:#45444D;}